/*
===============================================================================
  Layout
-------------------------------------------------------------------------------
*/

/* View */

.aleph-browser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

.aleph-browser .aleph-column {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}


/* Filter-lists */

.aleph-browser .aleph-filter {
  background-color: transparent;
  flex-basis: 32%;
}

.aleph-browser .aleph-filter .filter-list {
  padding: 0.5rem;
}

.aleph-browser .aleph-filter .filter-list > ul {
  max-height: 100%;
  overflow: scroll;
}

.aleph-browser .aleph-filter .filter-list > ul > li {
  width: 100%;
  margin: .25rem 0;
  padding: 0.5rem;
  word-wrap: break-word;
  background-color: rgba(127, 127, 127, 0.16);
}

.aleph-browser .aleph-filter .filter-list > ul > li.selected {
  background: var(highlight-bg);
}

.aleph-browser .aleph-filter .filter-list > input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.aleph-browser .aleph-filter .filter-list .mode-selection > .button {
  display: inline-block;
  margin: .25rem 0;
  padding: 0.5rem 0;
  text-align: center;
  flex-basis: 48%;
  background-color: var(inactive-bg);
}

.aleph-browser .aleph-filter .filter-list .mode-selection {
  display: flex;
  justify-content: space-between;
}

.aleph-browser .aleph-filter .filter-list .mode-selection > .button.current-mode {
  background-color: var(highlight-bg);
}


/*
===============================================================================
  Typography
-------------------------------------------------------------------------------
*/

.aleph-browser .aleph-filter .filter-list h2 {
  font-size: 0.875rem;
}

.aleph-browser .aleph-filter .filter-list p {
  font-size: 0.625rem;
}


/*
===============================================================================
  Fancification
-------------------------------------------------------------------------------
*/

.aleph-browser .aleph-filter .filter-list > ul > li {
  border-radius: 2px;
}
